body {
    background-color: #71591B;
    background-image: url("img/building02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.overlay {
    background-color: #71591BB7;
    width: 100%;
    height: 100vh;
    position: absolute;
}